In [2]:
import pandas as  pd

In [18]:
bio = pd.read_csv('../data/all_womens_foil_fencer_bio_data_May_13_2021_cleaned.csv', index_col='id')
rank = pd.read_csv('../data/all_womens_foil_fencer_rankings_data_May_13_2021_cleaned.csv')
bouts = pd.read_csv('../data/all_womens_foil_bout_data_May_13_2021_cleaned.csv')
tournament = pd.read_csv('../data/all_womens_foil_tournament_data_May_13_2021_cleaned.csv')

## Setup Bio Table

In [19]:
bio.head()

,name,country_code,country,hand,age,url,date_accessed
id,,,,,,,
28761,DVORKIN Mary,ISR,ISRAEL,Left,24,https://fie.org/athletes/28761,2021-05-13 21:42:17
43803,SHI Yue,CHN,CHINA,Right,22,https://fie.org/athletes/43803,2021-05-13 21:35:13
46080,TANG Nga Hei,MAC,"MACAO, CHINA",Right,20,https://fie.org/athletes/46080,2021-05-13 21:46:21
46481,WONAME Kelsey Victoria Afriyie,GHA,GHANA,Right,17,https://fie.org/athletes/46481,2021-05-13 21:48:14
47075,BRECHERET Carolina,BRA,BRAZIL,Right,16,https://fie.org/athletes/47075,2021-05-13 21:50:07

In [20]:
bio = bio.drop(['name', 'url', 'date_accessed', 'country_code'], axis=1)

In [21]:
bio.head()

            country   hand  age
id
28761        ISRAEL   Left   24
43803         CHINA  Right   22
46080  MACAO, CHINA  Right   20
46481         GHANA  Right   17
47075        BRAZIL  Right   16

## Setup Bouts table

In [22]:
bouts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49131 entries, 0 to 49130
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fencer_ID        49131 non-null  int64
 1   opp_ID           49131 non-null  int64
 2   fencer_age       49131 non-null  int64
 3   opp_age          49131 non-null  int64
 4   fencer_score     49131 non-null  int64
 5   opp_score        49131 non-null  int64
 6   winner_ID        49131 non-null  int64
 7   fencer_curr_pts  49131 non-null  float64
 8   opp_curr_pts     49131 non-null  float64
 9   tournament_ID    49131 non-null  object
 10  pool_ID          49131 non-null  int64
 11  upset            49131 non-null  bool
 12  date             49131 non-null  object
dtypes: bool(1), float64(2), int64(8), object(2)
memory usage: 4.5+ MB

In [26]:
bouts_df = bouts.copy()

In [27]:
# Convert winner_ID to first_wins
bouts_df['first_wins'] = bouts_df['fencer_ID'] == bouts_df['winner_ID']
bouts_df['first_wins'] = bouts_df['first_wins'].astype('category')

In [28]:
bouts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49131 entries, 0 to 49130
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fencer_ID        49131 non-null  int64
 1   opp_ID           49131 non-null  int64
 2   fencer_age       49131 non-null  int64
 3   opp_age          49131 non-null  int64
 4   fencer_score     49131 non-null  int64
 5   opp_score        49131 non-null  int64
 6   winner_ID        49131 non-null  int64
 7   fencer_curr_pts  49131 non-null  float64
 8   opp_curr_pts     49131 non-null  float64
 9   tournament_ID    49131 non-null  object
 10  pool_ID          49131 non-null  int64
 11  upset            49131 non-null  bool
 12  date             49131 non-null  object
 13  first_wins       49131 non-null  category
dtypes: bool(1), category(1), float64(2), int64(8), object(2)
memory usage: 4.6+ MB

In [ ]:
# Trim bouts columns
bouts_df = bouts_df.drop(['winner_ID', 'date', 'upset', 'pool_ID'], axis=1)

## Join the bouts to the users bio

```
pythondf = combats.merge(pokemon1, left_on='First_pokemon', right_on='id')
df = df.rename(columns={col:col+'_1' for col in pokemon1.columns})
df = df.merge(pokemon1, left_on='Second_pokemon', right_on='id')
df = df.rename(columns={col:col+'_2' for col in pokemon1.columns})
```

In [24]:
df = bouts.merge(bio, left_on='fencer_ID', right_on='id')
df = df.rename(columns={col:col+'_1' for col in bio.columns})

df = df.merge(bio, left_on='opp_ID', right_on='id')
df = df.rename(columns={col:col+'_2' for col in bio.columns})
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49131 entries, 0 to 49130
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fencer_ID        49131 non-null  int64
 1   opp_ID           49131 non-null  int64
 2   fencer_age       49131 non-null  int64
 3   opp_age          49131 non-null  int64
 4   fencer_score     49131 non-null  int64
 5   opp_score        49131 non-null  int64
 6   winner_ID        49131 non-null  int64
 7   fencer_curr_pts  49131 non-null  float64
 8   opp_curr_pts     49131 non-null  float64
 9   tournament_ID    49131 non-null  object
 10  pool_ID          49131 non-null  int64
 11  upset            49131 non-null  bool
 12  date             49131 non-null  object
 13  country_1        49131 non-null  object
 14  hand_1           49131 non-null  object
 15  age_1            49131 non-null  int64
 16  country_2        49131 non-null  object
 17  hand_2           49125 non-null  object
 18  age_2            49131 non-null  int64
dtypes: bool(1), float64(2), int64(10), object(6)
memory usage: 7.2+ MB

In [30]:
!dir

 Volume in drive G is Games
 Volume Serial Number is 90FA-ACF6

 Directory of G:\code\fencing-machine-learning\notebooks

10/06/2022  10:06 AM    <DIR>          .
10/06/2022  10:06 AM    <DIR>          ..
09/27/2022  03:02 PM                 0 .gitkeep
10/05/2022  01:13 PM        11,790,835 eda.ipynb
10/06/2022  10:06 AM            13,419 model.ipynb
               3 File(s)     11,804,254 bytes
               2 Dir(s)  2,882,482,384,896 bytes free